

<div class="album"
id="body" >
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

        <div class="col">
          <div class="card shadow">

            <img src="/img/1-piloto-privado.jpg" alt="Piloto Privado" class="image bd-placeholder-img card-img-top" width="100%" height="250" role="img">

            <div class="middle">
              <div class="text" x="50%" y="50%" fill="#eceeef" dy=".5em">Piloto Privado</div>
            </div>


            <div class="card-body">
              <p class="card-text">Obtené la licencia para volar en un avión de uso particular y recreativo.</p>
            </div>

          </div>
        </div>


        <div class="col">
          <div class="card shadow">

            <img src="/img/2-piloto-hvi.jpg" alt="Piloto Comercial con HVI" class="image bd-placeholder-img card-img-top" width="100%" height="250" role="img">

            <div class="middle">
              <div class="text" x="50%" y="50%" fill="#eceeef" dy=".5em">Piloto Comercial de Avión con H.V.I.</div>
            </div>


            <div class="card-body">
              <p class="card-text">Volá sin referencias visuales y de noche en aviones comerciales de hasta 5700kg.</p>
            </div>

          </div>
        </div>


        <div class="col">
          <div class="card shadow">

            <img src="/img/3-piloto-helicoptero.jpg" alt="Piloto Helicoptero" class="image bd-placeholder-img card-img-top" width="100%" height="250" role="img">

            <div class="middle">
              <div class="text" x="50%" y="50%" fill="#eceeef" dy=".5em">Piloto Comercial de Helicoptero con HVI</div>
            </div>


            <div class="card-body">
              <p class="card-text">Volá un helicóptero particular o comercial sin referencias visuales y de noche.</p>
            </div>

          </div>
        </div>


        <div class="col">
          <div class="card shadow">

            <img src="/img/4-tcp.jpg" alt="Tripulante de Cabina de Pasajeros" class="image bd-placeholder-img card-img-top" width="100%" height="250" role="img">

            <div class="middle">
              <div class="text" x="50%" y="50%" fill="#eceeef" dy=".5em">Tripulante de Cabina de Pasajeros</div>
            </div>


            <div class="card-body">
              <p class="card-text">Convertite en azafata o comisario de a bordo y auxiliá vuelos nacionales e internaciones.</p>
            </div>

          </div>
        </div>


        <div class="col">
          <div class="card shadow">

            <img src="/img/5-orr.jpg" alt="Operador Radiotelefonista Restringido" class="image bd-placeholder-img card-img-top" width="100%" height="250" role="img">

            <div class="middle">
              <div class="text" x="50%" y="50%" fill="#eceeef" dy=".5em">Operador Radiotelefonista Restringido</div>
            </div>


            <div class="card-body">
              <p class="card-text">Operá los equipamientos del aeropuerto para optimizar la comunicación entre las áreas.</p>
            </div>

          </div>
        </div>


        <div class="col">
          <div class="card shadow">

            <img src="/img/6-ffhh.jpg" alt="Factores Humanos" class="image bd-placeholder-img card-img-top" width="100%" height="250" role="img">

            <div class="middle">
              <div class="text" x="50%" y="50%" fill="#eceeef" dy=".5em">Factores Humanos</div>
            </div>


            <div class="card-body">
              <p class="card-text">Adquirí los métodos necesarios para reducir los errores humanos dentro del avión.</p>
            </div>

          </div>
        </div>


        <div class="col">
          <div class="card shadow">

            <img src="/img/7-instructor-helicoptero.jpg" alt="Instructor de Vuelo de Helicoptero" class="image bd-placeholder-img card-img-top" width="100%" height="250" role="img">

            <div class="middle">
              <div class="text" x="50%" y="50%" fill="#eceeef" dy=".5em">Instructor de Vuelo de Helicoptero</div>
            </div>


            <div class="card-body">
              <p class="card-text">Formá futuros pilotos de helicóptero planificando y dando clases teóricas.</p>
            </div>

          </div>
        </div>


        <div class="col">
          <div class="card shadow">

            <img src="/img/8-despachantes.jpg" alt="Despachantes de Aeronaves" class="image bd-placeholder-img card-img-top" width="100%" height="250" role="img">

            <div class="middle">
              <div class="text" x="50%" y="50%" fill="#eceeef" dy=".5em">Despachantes de Aeronaves</div>
            </div>


            <div class="card-body">
              <p class="card-text">Sé responsable de determinar, controlar, supervisar y asistir los vuelos.</p>
            </div>

          </div>
        </div>


        <div class="col">
          <div class="card shadow">

            <img src="/img/9-señalero.jpg" alt="Señalero de Aerodromo" class="image bd-placeholder-img card-img-top" width="100%" height="250" role="img">

            <div class="middle">
              <div class="text" x="50%" y="50%" fill="#eceeef" dy=".5em">Señalero de Aerodromo</div>
            </div>


            <div class="card-body">
              <p class="card-text">Señalizá el movimiento de los aviones que aterrizan y estacionan en la pista.</p>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>


{{!-- ---------------------------- --}}


<table class="table container" id="tabla">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Curso</th>
      <th scope="col">Modalidad</th>
      <th scope="col">Fecha de inicio</th>
    </tr>
  </thead>

  <tbody>
    {{#each datos}}
    <tr>
      <th scope="row">{{idCurso}}</th>
      <td>{{curso}}</td>
      <td>{{modalidad}}</td>
      <td>{{fecha_inicio}}</td>

      <td>
        <a href="javascript:void(0);" class="btn btn-danger delete" data-idCurso="{{idCurso}}">Borrar</a>

        <a href="javascript:void(0);" class="btn btn-primary edit" data-idCurso="{{idCurso}}" data-curso="{{curso}}" data-modalidad="{{modalidad}}" data-fecha_inicio="{{fecha_inicio}}">Editar</a>
      </td>


    </tr>
    {{/each}}
  </tbody>

</table>

<hr class="container">


{{!-- -------------------------------- --}}

<div class="container mt-4" id="add">
<a href="/cursos" class="btn btn-outline-success mb-2">Actualizar página</a><br>
<a href="/addcursos" class="btn btn-success w-50">Agregar Cursos</a>
</div>


{{!-- Modal (ventanita de aviso que aparece) para Delete --}}
<form action="/delete" method="post">
  <div class="modal" id="DeleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminar curso del listado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Está seguro que desea eliminar este curso del listado?</p>
        </div>

        <div class="modal-footer">
          <input type="number" name="idCurso" id="idCurso" class="idCurso" required>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>

      </div>
    </div>
  </div>
</form>


{{!-- Modal para Update --}}
<form action="/update" method="post">
  <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="mb-3">
              <label for="curso" class="col-form-label">Curso</label>
              <input type="text" class="form-control curso" id="curso" name="curso">
            </div>

            <div class="mb-3">
              <label for="modalidad" class="col-form-label">Modalidad</label>
              <input type="text" class="form-control modalidad" id="modalidad" name="modalidad">
            </div>

            <div class="mb-3">
              <label for="fecha_inicio" class="col-form-label">Fecha de inicio</label>
              <input type="text" class="form-control fecha_inicio" id="fecha_inicio" name="fecha_inicio">
            </div>

        </div>
        <div class="modal-footer">
          <input type="number" name="idCurso" id="idCurso" class="idCurso">

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>
</form>



<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>



{{!-- Funcion para tomar los datos del Modal --}}

<script>
  $(document).ready(function() {

    
// Modal del delete
    $('#tabla').on('click', '.delete', function (){

      let idCurso = $(this).data('id');
      $('#DeleteModal').modal('show')
    })  


// Modal del update
    $('#tabla').on('click', '.edit', function (){

      let idCurso = $(this).data('idCurso');
      let curso = $(this).data('curso');
      let modalidad = $(this).data('modalidad');
      let fecha_inicio= $(this).data('fecha_inicio')

      $('#EditModal').modal('show');
      $('.curso').val(curso);
      $('.modalidad').val(modalidad);
      $('.fecha_inicio').val(fecha_inicio);
    }) 
})
</script>

